.container{
    display : flex;
    flex-wrap : wrap;
    justify-content : center;
  }
  img{
    width : 450px;
    height : 350px;
    margin : 5px;
    transition : all 1s;
    box-shadow : 4px 4px 4px #883885;
  }
  img:hover{
    transform : rotate(30deg);
  }
  h1{
    border-bottom : 2px solid blue;
    width : 400px;
    text-align : center : center;
    border-right : 2px solid orange;
  }
